<!DOCTYPE html>
<html>
  <head>
    <title>ShoelaceIntegration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="body">
    <section class="flash-messages">
      <% if flash[:alert].present? %>
        <div class="flash alert">
          <%= alert %>
        </div>
      <% end %>
      <% if flash[:notice].present? %>
        <div class="flash notice">
          <%= notice %>
        </div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
